
.footer {
  
  background: linear-gradient(to right, #111111, #1c1c1c);
  /* background-color: black; */
  color: white;
  padding: 40px 20px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 80px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.footer h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

.footer p {
  font-size: 0.95rem;
  color: #e5e5e5;
}

.footer-icons {
  display: flex;
  gap: 25px;
  margin-left: 450px;
  margin-top: -50px;
 
 
}

.footer-icons a {
  color: white;
  font-size: 30px;
  transition: color 0.3s ease, transform 0.3s ease;
  cursor: none;
}

.footer-icons a:hover {
  color: blue;
  transform: scale(1.2);
  text-shadow: 0 0 10px blue;
}


.footer-bottom {
  font-size: 0.85rem;
  color: #ccc;
  /* background-color: red; */
  height: 80px;
 
}
#rights
{
  margin-left: -1000px;
  margin-top:70px;
}


@media (min-width: 768px) {
  .footer-content {
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
  }
}
  
@media (max-width: 768px) 
{
 #Footer
   {
    width: 100%;
    /* height: 65px; */
  
  }
  .footer h2 {
  font-size: 12px;
  margin-top: -20px ;
  margin-left: -300px;
}
.footer p
{
   font-size: 10px;
  margin-top: 0px ;
  margin-left: -300px;

}
.footer-icons
{
  width: 0px;
  margin-left: -140px;
  margin-top: 0px;

}
#rights
{
  margin-left: -30px;
  margin-top: 0px;
}
#All
{
  margin-left: -30px;
  margin-top: 0px;
}

}


