#Project-Body
{
     /* background: linear-gradient(to right, #1c044f, #502b87); */
       background: linear-gradient(to right, #000000, #1c044f, #0e0121);
     padding: 0%;
     margin: 0%;
}
#Heading
{
   font-size: 40px;
    text-align: center;
    color: white;
}
.Prjects-Divisions
{
 
    width: 300px;
    height: 100px;
    background-color: red;
    float: left;
}

    #Heading span {
      color: #00bfff;
    }


    #Project-card1
    {
        margin-left: 12px;
    }
    #Project
    {
        color: white;
    }

    .projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 40px;
  /* background-color: red; */
  height: 500px;
}

.project-card {
  position: relative;
  width: 320px;
  height: 200px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.project-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-card:hover {
  transform: scale(1.03);
}

.overlay {
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.2), rgba(0, 183, 255, 0.1));
  backdrop-filter: blur(5px);
  color: white;
  padding: 20px;
  box-sizing: border-box;
  transition: bottom 0.4s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  cursor: none;
}

.project-card:hover .overlay {
  bottom: 0;
  cursor: none;
}

.overlay h2 {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.overlay p {
  margin: 10px 0;
  font-size: 14px;
}

.overlay a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  margin-top: 10px;
  cursor: none;
}
#All
{
   margin-left: -1000px;
  margin-top:70px;
}

@media (max-width: 768px) 
{
  html, body {
    overflow-x: hidden;
  }
  #Heading
  {
    font-size: 18px;
  }
  .projects-container
  {
    height: 430px;
    /* background-color: red; */
    

  }
  .project-card
  {
    width: 220px;
    height: 120px;
   

  }
  #Project-card1
  {
     width: 180px;
    height: 117px;
    margin-left: -45px;
    
  }
  #Project-card2
  {
    width: 172px;
    height: 114px;
    margin-right: -45px;
  }
  #Project-card3
  {
    width: 180px;
    height: 117px;
    margin-left: -45px;
    margin-top: -20PX;
  }
  #Project-card4
  {
   width: 172px;
    height: 114px;
    margin-right: -45px;
     margin-top: -20PX;
  }
  #Project-card5
  {
   width: 180px;
    height: 117px;
    margin-left: -45px;
     margin-top: -20PX;
  }
  #Project-card6
  {
    width: 172px;
    height: 114px;
    margin-right: -45px;
     margin-top: -20PX;
  }
  .project-card:hover {
  transform: scale(1.03);
}
  .overlay h2
  {
    margin-top: 50px;
    font-size: 12px;
  }
  .overlay p
  {
    font-size: 9px;
  }
  .overlay #smart
  {
    margin-top: 100px;
  }
  
  .footer
  {
    margin-top: -100px;
  }
  
 
}